@using Microsoft.AspNetCore.Identity
@using RentACar.Data.Models
@{
    int appReleaseYear = 2024;
    string footer = DateTime.Now.Year == appReleaseYear ? appReleaseYear.ToString() : $"{appReleaseYear} - {DateTime.Now.Year}";
}

@inject UserManager<ApplicationUser> UserManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentACar</title>
    <link rel="stylesheet" href="~/css/CustomLayout/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/mdb.dark.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentACar.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="~/js/config.js" asp-append-version="true"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-car me-1"></i> RentACar
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начална страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Cars" asp-action="Index">Каталог от автомобили</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="About" asp-action="Index">За нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Контакти</a>
                    </li>
                </ul>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

<div class="page-container d-flex mt-lg-3 mx-auto">

    @if (ViewBag.ShowSideMenu != null && (bool)ViewBag.ShowSideMenu)
    {
        <aside class="sidebar-menu">
            <partial name="SideMenuPartial"/>
        </aside>
    }
    <div class="container-fluid hero">
        <main role="main" class="pb-3 hero d-flex justify-content-center align-items-center">
            <div class="content">
                @RenderBody()
            </div>
        </main>
    </div>

</div>

    <footer class="footer mt-auto">
        <div class="container">
            <p>&copy; RentACar @footer</p>
        </div>
    </footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/navbar.js" asp-append-version="true"></script>
<script src="~/js/alert.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        window.onload = function () {
            const successMessage = '@Html.Raw(TempData["Successfull"])';

            PrintAlert(successMessage);
        };
    </script>
    </body>
</html>
