@using Microsoft.AspNetCore.Identity
@using RentACar.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a href="@Url.Action("MyProfile", "Account", new { area = "" })" class="nav-link text-light" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-identity">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item me-2">
            <a class="btn btn-identity" asp-area="" asp-controller="Account" asp-action="Register"> <i class="fa-solid fa-user me-2"></i>Register</a>
        </li>
        <li class="nav-item me-2">
            <a class="btn btn-identity" asp-area="" asp-controller="Account" asp-action="Login"> <i class="fas fa-sign-in-alt me-2"></i>Login</a>
        </li>
    }
</ul>
