<div class="sidebar-menu">
    <h4 class="menu-title">Филтър за цена</h4>
    <form id="filterForm">
        <div class="form-group">
            <label for="priceRange" class="form-label">Цена (лв.):</label>
            <input type="range" class="form-range" id="priceRange" name="price" min="20" max="500" step="10">
            <div class="d-flex justify-content-between">
                <span>0 лв.</span>
                <span>1000 лв.</span>
            </div>
            <p id="priceValue" class="text-center mt-2"> Максимална цена 500 лв.</p>
        </div>
        <button type="submit" class="btn custom-button mt-3">Филтрирай</button>
    </form>
</div>

