<div class="sidebar-menu">
    <h4 class="menu-title">Филтри</h4>
    <form id="filterForm">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="SUV" id="filterSUV">
            <label class="form-check-label" for="filterSUV">
                SUV
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Sedan" id="filterSedan">
            <label class="form-check-label" for="filterSedan">
                Седан
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Electric" id="filterElectric">
            <label class="form-check-label" for="filterElectric">
                Електрически
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Филтрирай</button>
    </form>
</div>