.navbar {
    background-color: transparent !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: none;
    border-bottom: none;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.nav-link {
    font-size: 1.4em;
    font-weight: bold;
}

    .nav-link:hover, .navbar-brand:hover {
        transform: scale(1.05) !important;
        transition: all 0.3s ease !important;
        border: none !important;
        text-shadow: 0 0 1.8em rgba(255, 255,255, 0.8), 0 0 2em rgba(255, 255, 255, 0.6), 0 0 2.3em rgba(255, 255, 255, 0.4);

    }
