@media (max-width: 480px) {
    .form-wrapper {
        padding: 30px 20px;
    }

    .custom-label {
        font-size: 0.9rem;
    }

    .custom-input {
        padding: 12px 8px;
        font-size: 0.9rem;
    }

    .custom-button {
        padding: 12px;
        font-size: 0.9rem;
    }
}


@media (max-width: 1200px) {
    .custom-card {
        width: 22%;
    }
}

@media (max-width: 992px) {
    .custom-card {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .custom-card {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .custom-card {
        width: 100%;
    }

    .container-fluid {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.8) !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
        transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
    }

    .navbar-toggler.custom-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px; 
        height: 50px; 
    }

}

@media (max-width: 768px) {
    .form-wrapper {
        padding: 20px;
    }

    .checkbox-group {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .reserve-button {
        width: 100%;
    }

    
}

@media (max-width: 1400px) {
    .nav-link {
        font-size: 1.2em;
    }

    .btn-identity {
        font-size: 1em;
    }
}
