@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200..700&display=swap');

html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

body {
    font-family: "Oswald", sans-serif
}
