<div class="row">
    <div class="form-wrapper">
        <section>
            <form id="registerForm" method="post">
                <h2>Create a new account.</h2>
                <hr />
                @*<div asp-validation-summary="ModelOnly" class="text-danger validation-summary" role="alert"></div>*@

                <div class="form-field">
                    <label class="custom-label-static">Изберете дата за наемане на МПС</label>
                    <input id="birthDate" class="custom-input-static" placeholder="Изберете дата" />
                    <span class="text-danger validation-message"></span>
                </div>

                <div class="form-field">
                    <label class="custom-label-static">Изберете дата за край на вашата резервация!</label>
                    <input  id="birthDate" class="custom-input-static" placeholder="Изберете дата" />
                    <span class="text-danger validation-message"></span>
                </div>
                
                <div class="form-field">
                    <label class="custom-label-static">Допълнителни опции</label>
                    <div class="checkbox-field">
                        <input type="checkbox" id="gpsOption" value="5" class="form-check-input">
                        <label for="gpsOption" class="form-check-label">GPS навигация (5 лв./ден)</label>
                    </div>
                    <div class="checkbox-field">
                        <input type="checkbox" id="childSeatOption" value="7" class="form-check-input">
                        <label for="childSeatOption" class="form-check-label">Детско столче (7 лв./ден)</label>
                    </div>
                    <div class="checkbox-field">
                        <input type="checkbox" id="insuranceOption" value="10" class="form-check-input">
                        <label for="insuranceOption" class="form-check-label">Пълна застраховка (10 лв./ден)</label>
                    </div>
                </div>

                <div class="form-field">
                    <label class="custom-label-static">Крайна цена</label>
                    <input type="text" id="totalPrice" class="custom-input-static" placeholder="Крайна цена" readonly />
                </div>

                <button id="registerSubmit" type="submit" class="custom-button">Резервирай</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/date.js" asp-append-version="true"></script>