@page
@model LoginModel

    <div class="form-wrapper">
        <section>
            <form id="account" method="post">
                <h2 class="form-title">Use a local account to log in.</h2>
                <hr class="divider" />
                <div asp-validation-summary="ModelOnly" class="text-danger validation-summary" role="alert"></div>

                <div class="form-field">
                    <input asp-for="Input.Email" class="custom-input" autocomplete="username" aria-required="true" placeholder=" " />
                    <label asp-for="Input.Email" class="custom-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger validation-message"></span>
                </div>

                <div class="form-field">
                    <input asp-for="Input.Password" class="custom-input" autocomplete="current-password" aria-required="true" placeholder=" " />
                    <label asp-for="Input.Password" class="custom-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger validation-message"></span>
                </div>

                <div class="form-field checkbox-field">
                    <label asp-for="Input.RememberMe" class="checkbox-label">
                        <input class="checkbox-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <div class="form-field">
                    <button id="login-submit" type="submit" class="custom-button">Log in</button>
                </div>

                <div class="additional-links">
                    @*<p><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>*@
                    <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
                </div>
            </form>
        </section>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}