<div class="error-container">
    <i class="fas fa-ban display-1" style="color: #ff0000;"></i>
    <h1 class="display-4">401 - Достъпът до страницата не е разрешен.</h1>
    <p class="error-message">Съжаляваме, но нямате достъп до тази страница.</p>
    <a href="/" class="btn btn-primary btn-lg home-button">
        <i class="fas fa-home"></i> Върни се на началната страница
    </a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>