<div class="error-container">
    <i class="fas fa-server display-1 text-danger"></i>
    <h1 class="display-4">500 - Опс, нещо се случи</h1>
    <p class="error-message">Възникна неочаквана грешка. Молим за извинение.</p>
    <a href="/" class="btn btn-primary btn-lg home-button">
        <i class="fas fa-home"></i> Върни се на началната страница
    </a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>