@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Rent Your Dream Car Today</h1>
    <p class="lead">Browse our collection of cars and book yours in seconds!</p>
    <a href="#" class="btn btn-primary btn-lg mt-3">View Cars</a>
</div>
