@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Шофирай своята мечтана кола още днес!</h1>
    <p class="lead">Browse our collection of cars and book yours in seconds!</p>
    <a asp-controller="Car" asp-action="AllCars" class="btn view-cars mt-3 text-dark">View Cars</a>
</div>
