@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1>Шофирай своята мечтана кола още днес!</h1>
    <p class="lead">Разгледай каталога ни от автомобили и си резервирай каквото ти харесва.</p>
    <a asp-controller="Car" asp-action="AllCars" asp-area="" class="btn view-cars mt-3 text-dark">Каталог автомобили</a>
</div>
